<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, _, ~{::main})" th:with="a='b'">
  <body>
    <main class="ui container">

      <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
          Add dive
          <div class="sub header">Add information about a new dive</div>
        </div>
      </h2>

      <form class="ui form" th:action="@{/dives/add}" th:object="${dive}" method="post">

        <div class="ui horizontal divider">General information</div>

        <div class="fields">
          <div class="one wide field">
            <label>No</label>
            <input type="number" th:field="*{number}" readonly />
          </div>
          <div class="three wide field">
            <label>Date</label>
            <input type="date" th:field="*{start.dateIso}" />
          </div>
          <div class="twelve wide field">
            XX
          </div>
        </div>

        <div class="ui horizontal divider">Location</div>

        <div class="ui stackable grid">
          <div class="eleven wide column nopaddinghorizontal">
            <div class="field">
              <label>Location</label>
              <div class="ui action input">
                <input th:field="*{start.location.name}" />
                <button type="button" id="startLocationSearch" class="ui button">
                  <i class="search icon"></i>
                  Search
                </button>
              </div>
            </div>
            <script type="text/javascript">
                $("#startLocationSearch").click(function() {
                    let locationValue = $("input[name='start.location.name']").val().trim();
                    if (locationValue.length > 0) {
                      searchPlace(locationValue, {
                          nameField: $("input[name='start.location.name']"),
                          latitudeField: $("input[name='start.location.latitude']"),
                          longitudeField: $("input[name='start.location.longitude']"),
                          timezoneIdField: $("input[name='start.location.timezoneId']"),
                          mapDiv: $("#startLocationMap")
                      })
                    }
                });
            </script>
            <div class="three wide fields">
              <div class="field">
                <label>Longitude</label>
                <input th:field="*{start.location.longitude}" />
              </div>
              <div class="field">
                <label>Latitude</label>
                <input th:field="*{start.location.latitude}" />
              </div>
              <div class="field">
                <label>Timezone</label>
                <input th:field="*{start.location.timezoneId}" />
              </div>
            </div>
          </div>
          <div class="five wide column">
            <div class="ui segment" id="startLocationMap" style="height: 100%; min-height: 150px;">
            </div>
          </div>
        </div>
        <script type="text/javascript">
            registerMap($("#startLocationMap"), $("input[name='start.location.longitude']"), $("input[name='start.location.latitude']"))
        </script>

        <div class="ui horizontal divider">Spot</div>

        <div class="ui horizontal divider">Actions</div>

        <button type="submit" class="ui primary button">
          <i class="save icon"></i>
          Save
        </button>

      </form>

    </main>
  </body>
</html>
