<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, _, ~{::main})" th:with="a='b'">
  <body>
    <main class="ui container">

      <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
          <span th:text="#{add_dive}">Add dive</span>
        </div>
      </h2>

      <form id="diveEditorForm" class="ui form" th:action="@{/dives/add}" th:object="${dive}" method="post" th:insert="dives/fragments/editor-form :: editor(errorTitle = ${#messages.msg('cannot_add_new_dive')})" enctype="multipart/form-data">
      </form>

    </main>
  </body>
</html>
