<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, _, ~{::main})" th:with="a='b'">
  <body>
    <main class="ui container">

      <h2 class="ui header">
        <i class="edit icon"></i>
        <div class="content">
          <span th:text="#{edit_dive}">Edit dive</span>
          <div class="sub header" th:text="#{edit_dive_description}">Edit dive information</div>
        </div>
      </h2>

      <form class="ui form" th:action="@{'/dives/edit/' + ${dive.diveEntityId}}" th:object="${dive}" method="post" th:insert="dives/fragments/editor-form :: editor(errorTitle = ${#messages.msg('cannot_edit_dive')})">
      </form>


    </main>
  </body>
</html>
