<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, _, ~{::main})" th:with="a='b'">
  <body>
    <main class="ui container">

      <h2 class="ui header">
        <i class="list icon"></i>
        <div class="content">
          <span th:text="#{list_dives}">List dives</span>
        </div>
      </h2>

      <form th:action="@{/dives/selection}" method="post" id="diveSelectionForm">

        <input type="hidden" name="diveSelectionAction" id="diveSelectionAction" />

        <div th:replace="/dives/fragments/list-selection :: selection-menu">Menu</div>

        <table class="ui striped table">
          <thead th:if="${not #lists.isEmpty(dives.content)}" >
            <tr class="top aligned">
              <th>
                <div class="ui checkbox">
                  <input type="checkbox" id="diveSelectionAll" th:checked="${selectedDives.size == dives.size}" />
                </div>
              </th>
              <th th:text="#{date}">Date</th>
              <th><span th:text="#{duration}">Duration</span> /<br /><span th:text="#{max_depth}">Max depth</span></th>
              <th th:text="#{location}">Location</th>
              <th th:text="#{actions}">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(dives.content)}" class="warning">
              <td colspan="5">
                <p th:text="#{no_dives_available}"></p>
                <a class="ui primary button" th:href="@{/dives/add}">
                  <i class="plus icon"></i>
                  <span th:text="#{add_dive}">Add dive</span>
                </a>

              </td>
            </tr>
            <tr th:each="dive : ${dives.content}" class="top aligned">
              <td class="collapsing">
                <div class="ui checkbox">
                  <input class="diveSelection" type="checkbox" th:name="${'diveSelection_' + dive.id}" th:checked="${selectedDives.contains(dive)}" />
                </div>
              </td>
              <td class="collapsing">
                <div>
                  <i class="calendar icon"></i>
                  <strong th:text="${#divelog.formatTemporal(dive.start.date, 'dd.MM.yyyy')}">Date</strong>
                </div>
                <div th:if="${dive.start.time != null && dive.end.time != null}">
                  <i class="clock outline icon"></i>
                  <span th:text="${' ' + #divelog.formatTemporal(dive.start.time, 'HH:mm')}" th:if="${dive.start.time != null}">Time Start</span>
                  <span th:text="${' - ' + #divelog.formatTemporal(dive.end.time, 'HH:mm')}" th:if="${dive.end != null && dive.end.time != null}">Time End</span>
                  <div th:if="${dive.start.location.timezoneId != null}">
                    <i class="compass outline icon"></i>
                    <span th:text="${dive.start.location.timezoneId}">Timezone</span>
                  </div>
                </div>
              </td>
              <td class="collapsing">
                <div>
                  <i class="stopwatch icon"></i>
                  <strong>
                    <span th:text="${#divelog.formatNumber(dive.totalTimeMinutes, '00')}">Duration</span>
                  </strong>
                  <span th:text="#{unit.min}" />
                </div>
                <div th:if="${dive.maxDepth != null}">
                  <i class="arrow alternate circle down outline icon"></i>
                  <span th:text="${#divelog.formatNumber(dive.maxDepth, '0.##')}" />
                  <span th:text="#{unit.m}" />
                </div>
              </td>
              <td>
                <div th:if="${!#strings.isEmpty(dive.start.location.name)}">
                  <i th:class="${#strings.toLowerCase(dive.start.location.countryCode) + ' flag'}"></i>
                  <strong><span th:text="${dive.start.location.name}">Location</span></strong>
                  <div th:if="${!#strings.isEmpty(dive.spot.location.name)}">
                    <i class="null flag"></i>
                    <span th:text="${dive.spot.location.name}">Location</span>
                  </div>
                </div>
              </td>
              <td class="collapsing">
                <a class="tiny ui primary button" th:href="@{/dives/edit/__${dive.id}__}">
                  <i class="edit icon"></i>
                  <span th:text="#{edit}">Edit</span>
                </a>
                <a class="tiny ui negative button" th:href="@{/dives/delete/__${dive.id}__}">
                  <i class="remove icon"></i>
                  <span th:text="#{delete}">Delete</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div th:replace="/dives/fragments/list-selection :: selection-menu">Menu</div>
        <script th:replace="/dives/fragments/list-selection :: selection-javascript"></script>

      </form>
      <div th:replace="/components/pagination :: pagination(page = ${dives}, targetUrl='/dives/list')">Pagination</div>

    </main>
  </body>
</html>
