<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div class="ui segments" th:fragment="segments">

      <div class="ui segment">
        <h4 class="ui header">
          <span class="right aligned floating ui label" th:if="${dive.number != null}">Dive No. <span class="detail" th:text="${dive.number}"></span></span>
          General information
        </h4>
        <div class="fields">
          <div class="four wide field">
            <label>Date</label>
            <input type="date" th:field="*{start.dateIso}" />
          </div>
          <div class="three wide field">
            <label>Dive start time</label>
            <input type="time" th:field="*{start.time}" />
          </div>
          <div class="three wide field">
            <label>Dive end time</label>
            <input type="time" th:field="*{end.time}" />
          </div>
          <div class="three wide field">
            <label>Dive time</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{totalTimeMinutes}" />
              <div class="ui basic label">min</div>
            </div>
          </div>
          <div class="three wide field">
            <label>Ground time</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{groundTimeMinutes}" />
              <div class="ui basic label">min</div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
            function recomputeDiveTime() {
                let startTimeValue = $("input[name='start.time']").val().trim();
                let endTimeValue = $("input[name='end.time']").val().trim();
                if (startTimeValue.length > 0 && endTimeValue.length > 0) {
                    let startMoment = moment(startTimeValue, "HH:mm");
                    let endMoment = moment(endTimeValue, "HH:mm");
                    if (endMoment.isBefore(startMoment)) {
                        let durationUntilEndOfDay = moment.duration(moment('00:00:00', 'HH:mm:ss').add(1, "days").diff(startMoment));
                        let durationFromStartOfDay = moment.duration(endMoment.diff(moment('00:00:00', 'HH:mm:ss')));
                        $("input[name='totalTimeMinutes']").val(durationUntilEndOfDay.asMinutes() + durationFromStartOfDay.asMinutes());
                    } else {
                        let duration = moment.duration(endMoment.diff(startMoment));
                        $("input[name='totalTimeMinutes']").val(duration.asMinutes());
                    }
                }
            }
            $("input[name='start.time']").on("change", recomputeDiveTime);
            $("input[name='end.time']").on("change", recomputeDiveTime);
        </script>

        <div class="fields">
          <div class="four wide field">
            <label>Max depth</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{maxDepth}" />
              <div class="ui basic label">m</div>
            </div>
          </div>
          <div class="three wide field">
            <label>Pressure group before</label>
            <input th:field="*{padiStatistics.pressureGroupBefore}" />
          </div>
          <div class="three wide field">
            <label>Pressure group after</label>
            <input th:field="*{padiStatistics.pressureGroupAfter}" />
          </div>
          <div class="three wide field">
            <label>&nbsp;</label>
            <div class="inline fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" th:field="*{environment.waves}">
                  <label>Waves</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" th:field="*{environment.current}">
                  <label>Current</label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="fields">
          <div class="four wide field">
            <label>Water</label>
            <select class="ui search dropdown" th:field="*{environment.waterType}">
              <option value=""></option>
              <option th:each="waterType : ${T(de.perdian.divelog.model.components.WaterType).values()}" th:value="${waterType}" th:text="${#messages.msg('enum.WaterType.' + waterType)}"></option>
            </select>
          </div>
          <div class="three wide field">
            <label>Water surface temp</label>
            <div class="ui right labeled input">
              <input th:field="*{environment.temperatureSurface}" />
              <div class="ui basic label">°C</div>
            </div>
          </div>
          <div class="three wide field">
            <label>Water ground temp</label>
            <div class="ui right labeled input">
              <input th:field="*{environment.temperatureGround}" />
              <div class="ui basic label">°C</div>
            </div>
          </div>
          <div class="three wide field">
            <label>Visibility</label>
            <input th:field="*{environment.visibility}" />
          </div>
          <div class="three wide field">
            <label>Air temp</label>
            <div class="ui right labeled input">
              <input th:field="*{environment.temperatureAir}" />
              <div class="ui basic label">°C</div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <h4 class="ui header">
          Equipment
        </h4>
        <div class="fields">
          <div class="four wide field">
            <label>Air type</label>
            <select class="ui search dropdown" th:field="*{air.type}">
              <option value=""></option>
              <option th:each="airType : ${T(de.perdian.divelog.model.components.AirType).values()}" th:value="${airType}" th:text="${#messages.msg('enum.AirType.' + airType)}"></option>
            </select>
          </div>
          <div class="three wide field">
            <label>Start air pressure</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{air.pressureStart}" />
              <div class="ui basic label">bar</div>
            </div>
          </div>
          <div class="three wide field">
            <label>End air pressure</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{air.pressureEnd}" />
              <div class="ui basic label">bar</div>
            </div>
          </div>
          <div class="six wide field">
            <label>Computer</label>
            <input th:field="*{equipment.computer}" />
          </div>
        </div>
        <div class="fields">
          <div class="four wide field">
            <label>Suit type</label>
            <select class="ui search dropdown" th:field="*{equipment.suitType}">
              <option value=""></option>
              <option th:each="suitType : ${T(de.perdian.divelog.model.components.SuitType).values()}" th:value="${suitType}" th:text="${#messages.msg('enum.SuitType.' + suitType)}"></option>
            </select>
          </div>
          <div class="three wide field">
            <label>Suit thickness</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{equipment.suitThickness}" />
              <div class="ui basic label">mm</div>
            </div>
          </div>
          <div class="three wide field">
            <label>Weight</label>
            <div class="ui right labeled input">
              <input type="number" th:field="*{equipment.weight}" />
              <div class="ui basic label">kg</div>
            </div>
          </div>
          <div class="three wide field">
            <label>&nbsp;</label>
            <div class="inline fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" th:field="*{equipment.cap}">
                  <label>Cap</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" th:field="*{equipment.gloves}">
                  <label>Gloves</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <h4 class="ui header">Location</h4>
        <div class="ui stackable grid">
          <div class="eleven wide column nopaddinghorizontal">
            <div class="fields">
              <div class="four wide field">
                <label>Type</label>
                <select class="ui search dropdown" th:field="*{start.type}">
                  <option value=""></option>
                  <option th:each="placeType : ${T(de.perdian.divelog.model.components.PlaceType).values()}" th:value="${placeType}" th:text="${#messages.msg('enum.PlaceType.' + placeType)}"></option>
                </select>
              </div>
              <div class="twelve wide field">
                <label>Name</label>
                <div class="ui action input">
                  <input th:field="*{start.location.name}" />
                  <button type="button" id="startLocationSearch" class="ui button">
                    <i class="search icon"></i>
                    Search
                  </button>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $("#startLocationSearch").click(function() {
                    let locationValue = $("input[name='start.location.name']").val().trim();
                    if (locationValue.length > 0) {
                      searchPlace(locationValue, {
                          nameField: $("input[name='start.location.name']"),
                          latitudeField: $("input[name='start.location.latitude']"),
                          longitudeField: $("input[name='start.location.longitude']"),
                          timezoneIdField: $("input[name='start.location.timezoneId']"),
                          countryCodeField: $("input[name='start.location.countryCode']"),
                          countryFlagField: $("i[id='start.location.countryFlag']"),
                          mapDiv: $("#startLocationMap")
                      })
                    }
                });
            </script>
            <div class="three wide fields">
              <div class="field">
                <label>Longitude</label>
                <input th:field="*{start.location.longitude}" />
              </div>
              <div class="field">
                <label>Latitude</label>
                <input th:field="*{start.location.latitude}" />
              </div>
              <div class="field">
                <label>Timezone</label>
                <input th:field="*{start.location.timezoneId}" />
              </div>
              <div class="field">
                <label>Country code</label>
                <div class="ui right labeled input">
                  <input th:field="*{start.location.countryCode}" />
                  <div class="ui basic label">
                    <i id="start.location.countryFlag" th:class="${#strings.toLowerCase(dive.start.location.countryCode) + ' flag'}"></i>
                  </div>
                </div>
                <script type="text/javascript">
                  $("input[name='start.location.countryCode']").on("change input", () => updateCountryFlag($("input[name='start.location.countryCode']").val(), $("i[id='start.location.countryFlag']")));
                </script>

              </div>
            </div>
          </div>
          <div class="five wide column nopaddinghorizontal">
            <div class="ui segment" id="startLocationMap" style="height: 100%; min-height: 150px;">
            </div>
          </div>
        </div>
        <script type="text/javascript">
            registerMap($("#startLocationMap"), $("input[name='start.location.longitude']"), $("input[name='start.location.latitude']"))
        </script>
      </div>

      <div class="ui segment">
        <h4 class="ui header">Spot</h4>
        <div class="fields">
          <div class="ten wide field">
            <label>Name</label>
            <input th:field="*{spot.name}" />
          </div>
          <div class="three wide field">
            <label>Longitude</label>
            <input th:field="*{spot.location.longitude}" />
          </div>
          <div class="three wide field">
            <label>Latitude</label>
            <input th:field="*{spot.location.latitude}" />
          </div>
        </div>
      </div>

      <div class="ui segment">
        <h4 class="ui header">
          Buddy
        </h4>
        <div class="fields">
          <div class="four wide field">
            <label>Type</label>
            <select class="ui search dropdown" th:field="*{buddy.type}">
              <option value=""></option>
              <option th:each="buddyType : ${T(de.perdian.divelog.model.components.BuddyType).values()}" th:value="${buddyType}" th:text="${#messages.msg('enum.BuddyType.' + buddyType)}"></option>
            </select>
          </div>
          <div class="twelve wide field">
            <label>Name</label>
            <input th:field="*{buddy.name}" />
          </div>
        </div>
      </div>

      <div class="ui segment">
        <h4 class="ui header">Comments / Marine life</h4>
        <div class="field">
          <textarea th:field="*{comments}" rows="10"></textarea>
        </div>
      </div>

      <div class="ui segment printerhidden">
        <span class="mobile hidden">
          <span class="bottom right aligned floating ui label">Dive No. <span class="detail" th:text="${dive.number}"></span></span>
        </span>
        <button type="submit" class="ui primary button">
          <i class="save icon"></i>
          Save
        </button>
      </div>

    </div>

  </body>
</html>
