<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, ~{::head}, ~{::main})">
  <body>
    <th:block th:fragment="head">
      <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/__font-awesome.min.css" />
    </th:block>
    <main>

      <div class="ui header">
        <i class="home icon"></i>
        <div class="content" th:text="#{overview}"></div>
      </div>
      <div class="ui divider"></div>

      <div class="ui stackable grid">
        <div class="row">
          <div class="four wide column">
            <h3 th:text="#{dive_totals}">Dive totals</h3>
            <table class="ui very basic compact table">
              <tbody>
                <tr>
                  <td th:text="#{total_number_of_dives}">Total number of dives</td>
                  <td class="right aligned" th:text="${overview.totalDives}">42</td>
                </tr>
                <tr>
                  <td th:text="#{aggregated_underwater_time}">Aggregated underwater time</td>
                  <td class="right aligned">
                    <span th:text="${#divelog.formatNumber(overview.aggregatedTotalTimeMinutes / 60d, '#,##0.#')}">Time</span>
                    <span th:text="#{unit.h}" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="four wide column">
            <h3 th:text="#{dives_by_location_type}">Dives by location type</h3>
            <table th:replace="overview/fragments/aggregation-tables :: aggregation-items(${overview.aggregatedLocationTypes}, 'PlaceType')"></table>
          </div>
          <div class="four wide column">
            <h3 th:text="#{dives_by_water_type}">Dives by water type</h3>
            <table th:replace="overview/fragments/aggregation-tables :: aggregation-items(${overview.aggregatedWaterTypes}, 'WaterType')"></table>
          </div>
          <div class="four wide column">
            <h3 th:text="#{dives_by_suit_type}">Dives by suit type</h3>
            <table th:replace="overview/fragments/aggregation-tables :: aggregation-items(${overview.aggregatedSuitTypes}, 'SuitType')"></table>
          </div>
        </div>
      </div>

      <div class="ui fluid card">
        <div id="globalMap" class="image" style="width: 100%; height: 500px" th:data-endpoint="@{/api/locations/overview}">
        </div>
      </div>
      <script type="text/javascript">

          let globalMap = createMap($("#globalMap").get(0))
          globalMap.setView(new ol.View({
              center: ol.proj.fromLonLat([0, 25]),
              zoom: 1.85
          }));

          function globalMapAddLocationsForType(locations, fontAwesomeSymbol) {
              let locationsSource = new ol.source.Vector();
              for (var i=0; i < locations.length; i++) {

                  let location = locations[i];
                  let locationFeature = new ol.Feature({
                      geometry: new ol.geom.Point(ol.proj.transform([location.coordinates.longitude, location.coordinates.latitude], 'EPSG:4326', 'EPSG:3857')),
                  });

                  let color = '#aaaaff';
                  if (location.count >= 10) {
                      color = '#3333ff';
                  } else if (location.count >= 5) {
                      color = '#6666ff';
                  } else if (location.count >= 2) {
                      color = '#9999ff';
                  }

                  locationFeature.setStyle(new ol.style.Style({
                      text: new ol.style.Text({
                          font: '900 24px "Font Awesome 5 Free" ',
                          text: fontAwesomeSymbol,
                          fill: new ol.style.Fill({
                              color: color
                          })
                      })
                  }));
                  locationsSource.addFeature(locationFeature);

              }
              globalMap.addLayer(new ol.layer.Vector({ source: locationsSource }));
          }

          function globalMapAddLocations(data) {
              globalMapAddLocationsForType(data.spots, '\uf3c5');
              globalMapAddLocationsForType(data.locations, '\uf041');
              globalMap.render();
          }

          $.ajax({
              url: $("#globalMap").attr("data-endpoint"),
              success: globalMapAddLocations
          });

      </script>

    </main>
  </body>
</html>
