.printeronly { display: none; }

@media only screen {
  body { padding: 0.5rem; }
  body.default { display: flex; flex-direction: column; height: 100%; }
  body.default div.main { height: 100%; flex-grow: 1; display: flex; flex-direction: column; overflow: auto; }
  body.default div.main > main { padding: 0.5rem 1rem 0.5rem 1rem; flex-grow: 1; }
}

/* MOBILE */
@media only screen and (max-width: 723px) {
  .mobile.hidden { display: none !important; }
  .nopaddinghorizontal { padding-left: 0 !important; padding-right: 0 !important; }
}

/* DESKTOP */
@media only screen and (min-width: 724px) {
  .mobile.only { display: none !important; }
}

/* PRINTER */
@media only print {
  header { display: none !important; }
  body.default { display: block; }
  body.default div.main { display: block; }
  .printerhidden { display: none !important; }
  .printeronly { display: block; }
}
