<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/default :: html(_, _, ~{::main})">
  <body>
    <main class="ui container">

      <h2 class="ui header">
        <i class="upload icon"></i>
        <div class="content">
          <span th:text="#{import_data}">Import data</span>
          <div class="sub header" th:text="#{import_data_description}">Upload data</div>
        </div>
      </h2>

      <div class="ui negative icon message" th:if="${importException != null}">
        <i class="exclamation triangle icon"></i>
        <div class="content">
          <div class="header" th:text="#{import_failed}">Import failed</div>
          <pre th:text="${importException}"></pre>
        </div>
      </div>

      <form class="ui form" th:action="@{/backup/import}" method="post" enctype="multipart/form-data">
        <div class="field">
          <label th:text="#{upload_backup_file}">Upload backup file</label>
          <input type="file" name="file" />
        </div>
        <div class="field">
          <button type="submit" class="ui primary button">Submit</button>
        </div>
      </form>

    </main>
  </body>
</html>
